/*.product {
  background-image: url(./images/books\ on\ left.jpeg);
}

*/


.header-colour{
  background-color: #4B0082;
} 

.header-text{
  color: #FFD700;
}


/*for result section  */


.result-class {
  text-align: center; /* Align heading in the center */
}

.circular-boxes {
  display: flex;
  justify-content: space-between; /* Distribute space between the circular boxes */
  align-items: center;
}

.circular-box {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Ensure border-radius is 50% to create a perfect circle */
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  text-decoration: none; /* Remove underline */
  color: white; /* Set text color */
}

.circular-box:nth-child(1) {
  background-color: #FF5733; /* Change to your desired color */
}

.circular-box:nth-child(2) {
  background-color: #33FF57; /* Change to your desired color */
}

.circular-box:nth-child(3) {
  background-color: #5733FF; /* Change to your desired color */
}

.circular-box:nth-child(4) {
  background-color: #33A3FF; /* Change to your desired color */
}

.circular-box a {
  text-decoration: none; /* Remove underline */
  color: #000; /* Set text color */
}




.box {
  width: 100px;
  height: 100px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* You can adjust the font size as needed */
  box-sizing: border-box;
}

.red {
  background-color: red;
  color: white; /* White text on red background */
  text-decoration: none; /* Remove underline */
}

.blue {
  background-color: blue;
  color: white; /* White text on blue background */
  text-decoration: none; /* Remove underline */
}

.green {
  background-color: green;
  color: black; /* Black text on green background */
  text-decoration: none; /* Remove underline */
}

.yellow {
  background-color: yellow;
  color: black; /* Black text on yellow background */
  text-decoration: none; /* Remove underline */
}



h2 {
  margin-left: 5%;
}

.block {
  display: inline-block;
}

.mark {
  font-weight: bold;
}
.col {
  text-align: center;
}

.only-mark {
  color: whitesmoke;
  background-color: green;
}




/* Basic styling for the footer */
.footer {
  background-color: #333; /* Dark background color for the footer */
  color: #fff; /* White text color for better visibility */
  text-align: center; /* Center-align the text */
  padding: 10px 0; /* Add padding for spacing */
  position: absolute; /* Fixed to the bottom of the viewport */
  width: 100%; /* Full width */
}

.footer p {
  margin: 0; /* Remove default margin */
}