/*.product {
  background-image: url(./images/books\ on\ left.jpeg);
}

*/


.header-colour{
  background-color: #4B0082;
} 

.header-text{
  color: #FFD700;
}

.box {
  width: 100px;
  height: 100px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* You can adjust the font size as needed */
  box-sizing: border-box;
}

.red {
  background-color: red;
  color: white; /* White text on red background */
}

.blue {
  background-color: blue;
  color: white; /* White text on blue background */
}

.green {
  background-color: green;
  color: black; /* Black text on green background */
}

.yellow {
  background-color: yellow;
  color: black; /* Black text on yellow background */
}



h2 {
  margin-left: 5%;
}

.block {
  display: inline-block;
}

.mark {
  font-weight: bold;
}
.col {
  text-align: center;
}

.only-mark {
  color: whitesmoke;
  background-color: green;
}
